form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  letter-spacing: -0.05em;
  color: #626262;
}

input,
textarea {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -0.05em;
  color: #626262;
  padding: 18px 15px;
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #262626;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #626262;
}

form > div {
  position: relative;
  overflow: hidden;
}

svg {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -2px;
  left: 5px;
  fill: #626262;
}

::-webkit-calendar-picker-indicator {
  font-size: 10px;
  display: none;
}

.cta {
  /* grid-column: 1 / -1; */
}

@media screen and (min-width: 600px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  form > div:nth-child(6),
  form > div:nth-child(7),
  form > div:nth-child(8) {
    grid-column: 1 / -1;
  }
}
