@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  display: grid;
  place-items: center;
  background: rgb(35, 37, 38);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  min-width: 100vw;
  margin: 0 auto;
  box-shadow: 0px 21px 52px rgba(0, 0, 0, 0.2);
  padding: 70px 30px 40px;
  background: #1d1d1d;
}

h1 {
  max-width: 300px;
  font-weight: 800;
  font-size: 37px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 45px;
}

h2 {
  color: #626262;
  font-size: 20px;
}

h6 {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 600;
  color: #ff4a265d;
}

p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: -0.05em;
  margin-bottom: 7px;
  margin-left: 30px;
  color: #62626268;
}

span {
  color: #ff4a265d;
  /* opacity: 0.2; */
  font-size: 14px;
  font-weight: 600;
  /* display: none; */
}

aside {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.05em;
  text-align: right;
}

/* input:invalid[focused='true'] {
  border: 1px solid #ff4a263d;
}

input:invalid[focused='true'] ~ span {
  display: block;
} */

button {
  position: relative;
  width: 100%;

  border: none;
  outline: none;
  background: none;
  color: white;
  text-align: start;

  font-family: 'Montserrat Alternates';
  font-weight: 700;
  font-size: 25px;
  line-height: 110px;
  letter-spacing: -0.03em;

  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: radial-gradient(
    47.35% 47.35% at 50% 50%,
    #ffab95 0%,
    #df3908 100%
  );
  box-shadow: 0px 10px 20px rgba(255, 94, 52, 0.3);
  transition: all 0.3s ease-in-out;
}

button::after {
  content: url('./icons/arrow-right.png');
  position: absolute;
  width: 55px;
  height: 55px;
  right: 0px;
  top: 50%;
  transform: translateY(-64%);
  transition: all 0.3s ease-in-out;
}

button:hover::before {
  box-shadow: 0px 5px 11px rgba(255, 94, 52, 0.3);
}

@media screen and (min-width: 600px) {
  .App {
    border-radius: 58px;
    min-width: 800px;
  }
}
